<h1 class="title">{{title}}</h1>


<div>
  <h2 class="servername">{{serverData.name}}</h2>
  <br>
  <div class="administratorLogin"><strong>Admin Login: </strong>{{serverData.administratorLogin}}</div>
  <div class="FQDN"><strong>FQDN: </strong>{{serverData.fullyQualifiedDomainName}}</div>
  <div class="location"><strong>Location: </strong>{{serverData.location}}</div>
  <div class="ResourceGroup"><strong>Resource Group: </strong>{{serverData.resourceGroup}}</div>
  <div class="backupRetentionTime"><strong>Backup Retention Time: </strong>{{serverData.backupRetentionDays}}</div>
  <div class="typeOfServer"><strong>Server Type: </strong>{{serverData.type}}</div>
  <div class="state"><strong>State: </strong>{{serverData.state}}</div>
  <button (click)="sqlDatabase(serverData.resourceGroup,serverData.name)">Show related Databases</button>
</div>
<br>

