<body>
 <div class="header">
   <img src="../../../assets/Azurite.png" alt="logo">
<h1 id='titleHeader'>{{title}}</h1>
 </div>
<div class="buttons">

  <h2><button (click)="login()">Login to Azure</button>

    <span> <button (click)="accountList()" *ngIf="isLoggedIn">Account Info</button></span>

    <span><button (click)="allResourceGroupsList()" *ngIf="isLoggedIn">Resource Groups</button></span>

    <span><button (click)="viewAllVms()" *ngIf='isLoggedIn'>Virtual Machines</button></span>

    <span><button (click)='vnetList()' *ngIf='isLoggedIn'>Virtual Networks</button></span>

    <span><button (click)='seeWebApps()' *ngIf='isLoggedIn'>Web Apps</button></span>
    
    <span><button (click)='adAppListAll()' *ngIf='isLoggedIn'>Active Directory App List</button></span>

    <span><button (click)='adGroupList()'*ngIf='isLoggedIn'>Active Directory Group List</button></span>

    <button (click)="logout()" *ngIf="isLoggedIn">Logout of Azure</button></h2>

</div>

</body>