<div class="accounts" *ngFor="let account of accounts">
<div><strong>Cloud Name: </strong>{{account.cloudName}}</div>
<div><strong>Account 1:</strong>{{account.id}}</div>
<div><strong>Default account: </strong>{{account.isDefault}}</div>
<div><strong>Account name: </strong>{{account.name}}</div>
<div><strong>Status of State: </strong>{{account.state}}</div>
<div><strong>Tenant Id: </strong>{{account.tenantId}}</div>
<div><strong>User Name: </strong>{{account.user.name}}</div>
<div><strong>Type of user: </strong>{{account.user.type}}</div>
</div>
  